<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/home.css">
    <title>About Me</title>
</head>
<body>
<ul class="nav">
    <li><a href="/">Home</a> </li>
    <li><a href="/About_Me">About Me</a> </li>
    <li><a href="/database_ex">Database Example</a></li>
    <li><a href="/personal_projects">Personal Projects</a></li>
</ul>

<h1>About Me</h1>
<div class="aboutme">
    <p>
        My name is Jean Paul Lobon and I'm a software developer. I'm currently a senior at FIU. I have tried my hand in
        a few different projects. Check out a few of my personal projects by clicking on the personal projects tab in
        the nav bar.
    </p>
</div>
</body>
<footer>
    If you wanna get in contact you can get a hold of me at jeanpaullobon@gmail.com
</footer>
</html>