<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layouts/master}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--link rel="stylesheet" type="text/css" href="css/home.css"-->
    <link href="../static/css/home.css"
          th:href="@{css/home.css}" rel="stylesheet" media="screen"/>
    <title>Welcome to my Website</title>
</head>
<body>

<div layout:fragment="content">
    <h1>Hello World</h1>

        <div class="description">
            Welcome to my personal website!
        </div>

    <div class="rotate">
        <img class="rotate" src="images/me2.jpeg" alt = "rotating picture" height="200" width="200">
    </div>
</div>
</body>
</html>